* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #333333;
  color: #ffffff;
}

.navbar {
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

.home {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/home.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/home.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
}

.home-inner {
  padding-top: 100px;
}

.home .card-form {
  opacity: .7;
}

.home .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore .fas {
  color: #fff;
  background: #333;
  padding: 5px;
  border-radius: 5px;
}

#create .fas {
  color: #008ed6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#share .fas {
  color: #fff;
  background: #333;
  padding: 5px;
  border-radius: 5px;
}
